In [ ]:
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv("data/train.csv")

In [ ]:
# Number of taxis
df["TAXI_ID"].nunique()

In [8]:
# How many trips were dispatched for each type of call?
df["CALL_TYPE"].value_counts()

CALL_TYPE
B    817881
C    528019
A    364770
Name: count, dtype: int64

In [12]:
df[["ORIGIN_CALL", "CALL_TYPE"]].groupby("CALL_TYPE").count()

           ORIGIN_CALL
CALL_TYPE
A               364770
B                    0
C                    0

In [13]:
df[["ORIGIN_STAND", "CALL_TYPE"]].groupby("CALL_TYPE").count()

           ORIGIN_STAND
CALL_TYPE
A                     0
B                806579
C                     0